html {
	--primary-color: #c7f7ff;
	--secondary-color: #000066;
	--terciary-color: #211f2c;
}
main {
	margin: 1rem 0;
}

h1,
h2 {
	margin: 1rem 0;
	color: var(--secondary-color);
}

body {
	padding-top: 3rem;
	padding-bottom: 3rem;
}

.display-3 {
	font-family: "Kaushan Script", cursive;
}

.inline-logo {
	height: 1em;
}

.marketing {
	padding-top: 1rem;
	background-color: var(--primary-color) !important;
}

.bd-placeholder-img {
	font-size: 1.125rem;
	text-anchor: middle;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
}

.nav-link {
	white-space: nowrap;
}

.active > .nav-link {
	white-space: nowrap;
	color: var(--primary-color) !important;
}

a.navbar-brand {
	color: var(--primary-color) !important;
}

@media (min-width: 764px) {
	.bd-placeholder-img-lg {
		font-size: 3.5rem;
	}
}

.navbar-dark .navbar-nav .nav-link {
	color: rgba(255, 255, 255, 0.7);
}

.navbar-dark .navbar-nav .nav-link:hover {
	color: rgba(255, 255, 255, 0.95);
}

body {
	color: var(--terciary-color) !important;
}

.bg-dark {
	background-color: var(--secondary-color) !important;
}

.carousel-img {
	max-width: 100%;
	height: 100%;
}

footer {
	color: var(--secondary-color);
}
