html {
	--primary-color: 111, 199, 229;
	--secondary-color: 0, 0, 102;
	--terciary-color: 33, 31, 44;
	--textPri-color: 49, 48, 48;
	--textSec-color: 228, 251, 255;
}
main {
	margin: 1rem 0;
}

h1,
h2 {
	margin: 1rem 0;
	color: rgb(var(--secondary-color));
}

body {
	padding-top: 3rem;
	padding-bottom: 3rem;
}

.display-3 {
	font-family: "Kaushan Script", cursive;
}

.inline-logo {
	height: 1em;
}

.marketing {
	padding-top: 1rem;
	background-color: rgb(var(--primary-color)) !important;
}

.bd-placeholder-img {
	font-size: 1.125rem;
	text-anchor: middle;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
}

.nav-link {
	white-space: nowrap;
}

.active > .nav-link {
	white-space: nowrap;
	color: rgb(var(--primary-color)) !important;
}

a.navbar-brand {
	color: rgb(var(--primary-color)) !important;
}

@media (min-width: 764px) {
	.bd-placeholder-img-lg {
		font-size: 3.5rem;
	}
}

.navbar-dark .navbar-nav .nav-link {
	color: rgba(255, 255, 255, 0.7);
}

.navbar-dark .navbar-nav .nav-link:hover {
	color: rgba(255, 255, 255, 0.95);
}

.navbar-nav {
	margin-bottom: 0.3rem;
}

body {
	color: rgb(var(--terciary-color)) !important;
}

.bg-dark {
	background-color: rgb(var(--secondary-color)) !important;
}

footer {
	color: rgb(var(--secondary-color));
}
